rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /dokumente/{userId}/{document} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
    match /ausweis/{userId}/{document} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
    match /rechnungen/{userId}/{document} {
      allow read: if request.auth != null && request.auth.uid == userId;
      allow write: if false;
    }
  }
}
